{% set has_free_shipping_rule = cart.free_shipping_rule and cart.free_shipping_rule.code %}
{% set subtotal_condition = cart.free_shipping_rule.subtotal_condition if has_free_shipping_rule else none %}
{% set free_shipping_status = (subtotal_condition.status | default('')) if subtotal_condition else '' %}
{% set free_shipping_remaining_raw = ((subtotal_condition.remaining | default('0')) if subtotal_condition else '0') | string | trim %}
{# remaining is already currency-formatted; only SAR is swapped for the riyal symbol #}
{% set free_shipping_is_sar = free_shipping_remaining_raw.endswith('SAR') or free_shipping_remaining_raw.endswith('sar') %}
{% set free_shipping_remaining = (free_shipping_remaining_raw | replace('SAR', '') | replace('sar', '') | trim) if free_shipping_is_sar else free_shipping_remaining_raw %}
{% set free_shipping_percent = (subtotal_condition.products_subtotal_percentage_from_min | default(0)) if subtotal_condition else 0 %}
{% set free_shipping_width = 100 if free_shipping_status == 'applied' else free_shipping_percent %}
{% set riyal_svg %}<svg class="riyal-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1124.14 1256.39" width="12" height="14" style="display:inline-block;vertical-align:-0.1em"><path fill="currentColor" d="M699.62,1113.02h0c-20.06,44.48-33.32,92.75-38.4,143.37l424.51-90.24c20.06-44.47,33.31-92.75,38.4-143.37l-424.51,90.24Z"/><path fill="currentColor" d="M1085.73,895.8c20.06-44.47,33.32-92.75,38.4-143.37l-330.68,70.33v-135.2l292.27-62.11c20.06-44.47,33.32-92.75,38.4-143.37l-330.68,70.27V66.13c-50.67,28.45-95.67,66.32-132.25,110.99v403.35l-132.25,28.11V0c-50.67,28.44-95.67,66.32-132.25,110.99v525.69l-295.91,62.88c-20.06,44.47-33.33,92.75-38.42,143.37l334.33-71.05v170.26l-358.3,76.14c-20.06,44.47-33.32,92.75-38.4,143.37l375.04-79.7c30.53-6.35,56.77-24.4,73.83-49.24l68.78-101.97v-.02c7.14-10.55,11.3-23.27,11.3-36.97v-149.98l132.25-28.11v270.4l424.53-90.28Z"/></svg>{% endset %}

<div class="cart-mobile-header">
  <h1 class="cart-mobile-header__title">{{ _('Shopping cart') }} ( {{ cart.products_count | default(0) }} )</h1>
  {% if has_free_shipping_rule %}
  <div
    class="cart-free-shipping cart-free-shipping--mobile"
    data-free-shipping-bar
    data-free-shipping-remaining="{{ free_shipping_remaining }}"
    data-free-shipping-percentage="{{ free_shipping_width }}"
  >
    <div class="cart-free-shipping__message-row">
      <span
        class="cart-free-shipping__message"
        data-free-shipping-message
      >
        {% if free_shipping_status == 'applied' %}
          {{ _('Congrats! Your order qualifies for free shipping') }}
        {% else %}
          {{ (_('Add purchases worth %(amount)s to get free shipping') | format(amount=(free_shipping_remaining | e) ~ ((' ' ~ riyal_svg) if free_shipping_is_sar else ''))) | safe }}
        {% endif %}
      </span>
      <img
        class="cart-free-shipping__truck"
        src="{{ 'images/dara/cart-free-delivery.svg' | asset_url }}"
        width="22"
        height="24"
        alt=""
      />
    </div>
    <div
      class="cart-free-shipping__track"
      data-free-shipping-progress-wrapper
    >
      <span
        class="cart-free-shipping__fill"
        style="width: {{ free_shipping_width }}%"
        data-free-shipping-progress-bar
      ></span>
    </div>
  </div>
  {% endif %}
</div>
